* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside html,
body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-style: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style-type: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: 400;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #fafbff;
}
.all__content {
  display: flex;
}
.aside {
  height: 100%;
  .aside__container {
    padding: 36px 28px;
    box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .aside__logo {
      display: flex;
      h2 {
        color: #000;
        font-size: 26px;
        font-weight: 600;
      }

      align-items: center;
      p {
        color: #838383;
        font-size: 10px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.1px;
        padding: 11px 0px 0px 4px;
      }
    }
  }
}
.aside__container {
  position: relative;
  height: 100vh;
}

.aside {
  .aside__nav__avatar {
    display: flex;
    img {
      border-radius: 20px;
    }
  }
}
.aside__nav__avatar__text {
  margin-left: 12px;
  svg {
    border-radius: 20px;
  }
  b {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.14px;
  }
  p {
    color: #757575;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.12px;
  }
}
ul {
  li {
    position: relative;
    display: flex;
    padding: 0 8px;
    margin-top: 30px;
    align-items: center;
    width: 250px;
    height: 46px;
    p {
      color: #9197b3;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: -0.14px;
      margin: 0 14px;
    }
  }
}

ul {
  border-radius: 8px;
  li:hover {
    .arrow {
      background-image: url(./img/arrow-right-light.svg);
    }
    background: #5932ea;
    p {
      color: #ffffff;
    }
    svg path {
      stroke: white;
    }
  }
  li:focus {
    .arrow {
      background-image: url(./img/arrow-right-light.svg);
    }
    background: #5932ea;
    p {
      color: #ffffff;
    }
    svg path {
      stroke: white;
    }
  }
}


.arrow {
  background-image: url(./img/arrow-right.svg);
  height: 20px;
  width: 15px;
  background-position: center;
  position: absolute;
  right: 8px;
}

.main {
  width: 100%;
  .main__container {
    padding: 40px 70px;
    width: 100%;
  }
  .main__title {
    font-size: 24px;
    font-weight: 500;
  }
  .main__customers__block {
    overflow: auto;
    white-space: nowrap;
    border-radius: 20px;
    margin: 60px 0;
    padding: 30px 40px;
    background-color: #fff;
    box-shadow: (0px 10px 60px rgba(226, 236, 249, 0.5));
    text-align: left;
    .active-members {
      margin: 15px 0;
      color: #16c098;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: -0.14px;
    }
    .customers-gray {
      color: #b5b7c0;

      font-size: 14px;

      font-weight: 500;
    }

    h3 {
      font-size: 22px;
      font-weight: 600;
      letter-spacing: -0.22px;
    }
  }
  .main__customers__block__sign {
    p {
      color: black;
    }
  }
  .center {
    align-items: center;
    text-align: center;
  }
  .status {
    width: 80px;
    align-items: center;
  }
  .active {
    border-radius: 4px;
    border: 1px solid #00b087;
    color: #008767;
    background: rgba(22, 192, 152, 0.38);

    align-items: center;
  }
  .inactive {
    border-radius: 4px;
    border: 1px solid #df0404;
    background: #ffc5c5;
    color: #df0404;
  }
}

.table {
  width: 100%;
  text-align: left;
  font-weight: 500;
  border-collapse: separate;
  border-spacing: 0 40px;
  line-height: normal;
}
tr {
  padding: 20px;
  margin-top: 30px;
  position: relative;
}
td {
  letter-spacing: -0.14px;
}

.table tbody tr::after {
  content: "";
  display: block;
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #eee;
}

@media screen and (max-width: 880px) {
  .main {
    box-shadow: (0);
    .main__container {
      margin: 0 0 0 0;
      padding: 10px 20px;
    }
  }

  .all__content {
    display: block;
  }
  .aside__container {
    box-shadow: none;
  }
  .aside__logo {
    h2 {
      display: none;
    }
  }
  .aside__nav__avatar {
    position: absolute;
    right: 40px;
  }
  .aside__container {
    flex-direction: column;
  }
  .table {
    width: 100%;
    text-align: left;
    font-weight: 500;
    border-collapse: separate;
    border-spacing: 0 30px;
  }
  .main__title {
    text-align: center;
    margin-top: 20px;
  }
  .main__customers__block {
    margin: 0px;
  }
}
